<h2 class="mt-4">Edit article</h2><br>
<form action="/edit" method="post" id="edit">   
    <input type="hidden" name="_method" value="put">  
    <textarea style="width: 100%" name="message"><%= @info %></textarea>  
    <br>
    <input class="btn-info btn mt-2" type="submit" value="Update">   
	<a class="mt-2 btn-info btn float-right" href="../reset">Reset</a>
</form>   
