<h2>Welcome!</h2>

<p>Welcome to WAD wiki. A free online encyclopedia of knowledge that can be viewed by anyone! <br> 
Feel free to search for anything you desire! And if it does not exist then create it! <br>
Use the menu to the left to navigate the site!</p>

<div id="content">
	<%= @info %>
</div>
<div id="content">
	Number of words: <%= @words %>
</div>