<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="This is my new Wiki app" />
		<meta name="keywords" content="wiki, test app, blog"/>
		<link rel="stylesheet" href="style.css" type="text/css" />
	    <title>My Wiki application</title>
	    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<section class="title">
		<h1 class="mt-4 mb-4">Our Wiki</h1>
	</section>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/home">Wiki's Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create">Create</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
	           <a class="nav-link" href="/edit">Edit</a>
	        </li>
	        <li class="nav-item">
              <a class="nav-link" href="/archive">Archive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
      	<!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Word Count Widget</h5>
            <div class="card-body">
              <strong>Word Count:</strong> ... <br>
              <strong>Character count:</strong> ... <br>
            </div>
          </div>
        </div>

        <!-- Post Content Column -->
        <div class="col-lg-8">
    		<div class="view_content">
        		<%= yield %>
        	</div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../public/jquery/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
